footer{
    min-height: 8vh;
    padding: 0 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    background: black;
    color: #fff;
}
footer a{
    font-weight: 400;
}

@media only screen and (max-width: 700px) {
    footer{
        padding: 0 7.5vw;
    }
    .email{
        display: none;
    }
}