header{
    min-height: 12vh;
    padding: 0 15vh;
    margin: auto;
    
    background: black;
    color:white;
}
header, ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
    margin-left: 2rem;
}
#logo{
    font-size: 2rem;

}
#logo, .here{
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    header{
        padding: 0 7.5vh;
    }
    nav{
        display: none;
    }
}