*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color:inherit;
}
header{
    min-height: 10vh;
    width: 80%;
    margin: auto;
}
header, ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
    margin-left: 2rem;
}
#logo{
    font-size: 2rem;

}
#logo, .here{
    font-weight: bold;
}
